*,
*::before,
*::after {
  box-sizing: border-box;
}

body { text-align: center; background-color: black;}

html {
	/* background: url(file:///C:/Users/arsse/Downloads/archive/archive/Background.png) no-repeat center center;
	*/
	min-height: 100%;
	background-size: cover;
} 

.container{
	width: 1140px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	padding-top: 64px;
	padding-bottom: 64px;
}

.header-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-nav {
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.48);
}

.header-nav ul {
	display: flex;
}

.header-nav li:not(:last-child) {
	margin-right: 32px;
}

.header-nav a {
	transition: color 0.2s ease;
}
.header-nav a:hover {
	color: rgba(255, 255, 255, 1);
}

.home {

}

.container {
	color: white;
}

.home-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.home-content {
	margin-top: 80px;
	text-align: left;
}
.home-text-up {
font-family: SF Pro Display;
font-style: regular;
font-size: 20px;
color: rgba(255, 255, 255, 0.48);
}

.home-heading {
font-family: SF Pro Display;
font-style: medium;
line-height: 64px;
font-size: 48.83px;
color: #FFFFFF;
margin-top: 8px;
}
.home-heading span {
font-family: SF Pro Display;
font-style: medium;
line-height: 64px;
font-size: 48.83px;
color: rgba(255, 255, 255, 0.48);
}

.home-text-down {
	font-family: SF Pro Display;
	font-style: Regular;
	font-size: 20px;
	line-height: 19px;
	color: rgba(255, 255, 255, 0.48);
	margin-top: 16px;
}

.btn {
	font-family: SF Pro Display;
	font-style: semibold;
	font-size: 16px;
	color: rgba(255, 255, 255, 1);
}

.home-btn {
	display: inline-block;
	border-radius: 8px; border: 1px solid rgba(255, 255, 255, 0.08);
	transition: 0.72s;
	margin-top: 24px;
}

.home-btn a {
	padding: 16px 32px;
}

.home-btn:hover {
	transform: scale(1.08); 
	transition: 0.32s; color: 
	rgba(255, 255, 255, 1);
}

.home-gif {

}






/*
 h1 { font-family: Akzidenz-Grotesk Pro Bold Ext; 
	font-size: 57.33px; 
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.48) 100%);
	display: inline-block;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 8px; margin-bottom: 8px;
}

small { font-family: Akzidenz-Grotesk Pro Med; 
	font-size: 11.11px;
	letter-spacing: 0.15em; 
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.32) 50%, rgba(255, 255, 255, 0.16) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

p { font-family: Akzidenz-Grotesk Pro Med; 
	font-size: 16px;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.64) 50%, rgba(255, 255, 255, 0.32) 100%);
	display: inline-block;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 0px; margin-bottom: 32px;
}

.knopka { font-family: Akzidenz-Grotesk Pro Med; 
	font-size: 16px;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.48) 100%);
	display: inline-block;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 16px 32px;
}

.button:hover {transform: scale(1.08); transition: 0.16s;}

.button { 
	background: rgba(255, 255, 255, 0.08);
	display: inline-block;
	padding: 0px 0px;
	border-radius: 8px; border: 1px solid rgba(255, 255, 255, 0.08);
	transition: 0.72s;
}

img { pointer-events: none; }

.center1 { margin: 50% 0%; }

.icons {position: fixed; bottom: 0px; left: 0px; width: 100%; margin-bottom: 56px;}
.icons a { margin: 0px 8px; }
.icons a img { opacity: 0.48; transition: 0.72s; }
.icons a:hovar img { opacity: 0.90; transition: 0.16s; } 
*/